*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
.col-sm-6{
    box-sizing: border-box;
    margin: 0;

    padding: 80px;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}


